torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
dgl
torchdata==0.7.1
pydantic<3
numpy
scipy
pandas
scikit-learn
networkx
ogb
tensorboardX
tqdm
dtaidistance
matplotlib
seaborn
jupyter
ipykernel
